<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  <title>Music Store</title>
</head>
<body>
<div class="container">

  <h1>Music Store</h1>

  {% block add_music %}{% endblock %}
  {% block music_list %}{% endblock %}

</div>
</body>
</html>
